#fgil{
background-image: url('/img/fgil.png');
background-size: cover;
}

#tl{
background-image: url('/img/tl.png');
background-size: cover;
}

#follow{
background-image: url('/img/follow.png');
background-size: cover;
}

#villisca{
background-image: url('/img/villisca.png');
background-size: cover;
}

#mmim{
background-image: url('/img/mmim.png');
background-size: cover;
}

#tyk{
background-image: url('/img/tlk.png');
background-size: cover;
}

#tls{
background-image: url('/img/well.png');
background-size: cover;
}

#ymatc{
background-image: url('/img/ymatc.png');
background-size: cover;
}

#f2s{
  background-image: url('/img/sphereland.png');
  background-size: cover;
}

#aiv{
  background-image: url('/img/aiv.png');
  background-size: cover;
}

#td{
  background-image: url('/img/td.png');
  background-size: cover;
}

#nt{
  background-image: url('/img/noimg.png');
  background-size: cover;
}

#ttb{
  background-image: url('/img/ttb.png');
  background-size: cover;
}

#ftm{
  background-image: url('/img/flatland.png');
  background-size: cover;
}

#isoamk{
  background-image: url('/img/isamk.png');
  background-size: cover;
}

#dr{
  background-image: url('/img/dr.png');
}

#tck{
  background-image: url('img/noimg.png');
  background-size: cover;
}
